.contact {
  display: flex;
  flex-direction: column;
  height: 66vh;
  
  background-image: linear-gradient(315deg, #cbd3e6 0%, #f5f7fa 74%);
  position: relative;
}

.contact__body {
  max-width: 50vw;
  padding-top: 10vh;
  padding-left: 10vw;
}

.contact__p {
  font-family: "Roboto", sans-serif;
  color: rgb(9, 8, 8);
  font-size: 20px;
  padding-bottom: 15px;
}

.contact__option {
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  padding-bottom: 15px;
}

.contact__text {
  color: rgb(9, 8, 8);
  text-decoration: underline;
  font-size: 30px;
}

.contact__logo {
  color: var(--purple);
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .contact {
    align-items: center;
    margin-top: 0%;
    
  }

  .contact__heading {
    font-size: 48px;
  }

  .contact__body {
    max-width: 80vw;
    padding-left: 0;
  }

  .contact__text {
    font-size: 24px;
  }
}
