.footer {
  height: 27.5vh;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(18, 19, 20, 1) 0%,
    rgba(34, 38, 43, 1) 59%,
    rgba(49, 54, 59, 1) 100%
  );
}

.footer__copyright {
  font-size: 12px;
}
